// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";



/*TOP BAR - LOGIN BAR*/
.top_bar {background-color: #243d7d; height: 55px; padding: 12px;}
.top_bar p {color: #ffffff;}











