// Custom.scss
// Option B: Include parts of Bootstrap
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//variabili
$deepblue: #243d7d;
$ita_orange: #e1740e;
$white: #fff;
$black: #111;

$orange: orange;
$green: green;
$red: red;

$pad_25:25px;
$pad_35:35px;

$h-footer: 140px;
$h-header: 140px;



/*GENERALI----------------------------------*/

.container-fluid {
  padding-left: $pad_25;
  padding-right: $pad_25;
}

body {
  font-weight: 500;
  min-height: 100vh;
}

.tooltip {
  font-size: 15px
}

.separatore20 {padding-top: 20px}

.separatore40 {padding-top: 40px}

hr {
  margin-top: 6px;
  margin-bottom: 10px;
  border-top: 2px solid rgba(0,0,0,.1);
}

/*TOP BAR - LOGIN BAR------------------------------*/

.top_bar {
  background-color: $deepblue;
  height: 55px;
  padding: 13px 0 12px 0;
  font-weight: 500;
  a {
    padding-left: 10px;
  }
  p {
    color: $white;
    font-weight: 600;
  }
  h4 {
    margin-top: -8px;
    &.badge-primary {
      border: solid;
      border-width: 2px;
    }
  }
}

.badge-warning {
  background-color: $ita_orange;
}

.fa-15x {
  font-size: 1.5em;
}

.ruolo {
  font-weight: 500;
  font-size: 14px;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 2px 5px;
}

.dropdown-menu {
  padding: 0px;
  font-size: 12px;
  margin-top: 14px;
}

.dropdown-menu::before {
    left: auto;
    right: 5px;
}

/*MENU BAR-------------------------------------------*/
.menu_icon {
  margin: auto 10px auto 0px;
}

.nav {
  &-tabs {
    min-height: 95px;
    border-bottom-width: 0;
  }
  &-link.active {
    border-width: 4px;
  }
}

.main_menu {
  border-bottom-color: #dfe4f2;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  img {
    height: 65px;
  }
}



/*CONTAINER HOME---------------------------------------*/


.barra_lat {
  background-color: #f7f7f9;
  padding-top: $pad_35;
  padding-left: $pad_25;
  min-height: calc(100vh - (#{$h-header} + #{$h-footer} + #{12px}));
  /*min-height: 652px;*/

}

.table_invio {
  padding-left: 15px;
  padding-top: $pad_35;
  h5 {
    background-color: $blue;
    padding-right: 10px;
    color: white;
    font-weight: 600;
  }
}

/*TABELLA -------------------------------------------*/
.table td, .table th {

  padding: 0.7em;

}

/* SEVERITA--------------------------------------------*/
.sev {  font-weight: 800;}

.arancio {  color: $orange;}

.verde {  color: $green;}

.rossa {  color: $red;}

.td_sev { border-right: solid; border-width: 15px;
  .arancio{border-color: $orange}
  .verde{border-color: $green}
  .rossa{border-color: $red}
}

/*TEMPLATE EDITOR ------------------------------------------*/
.titolo_modelli {
  display: flex;
  justify-content: space-between;

}

.form-control, .filter-option {
  background-color: #f7f7f9;
  }
.search {background-color: #fff;}
input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], textarea, .form-group textarea {
  border-radius: 10px;
}
.form-group {
  margin-bottom: 2rem;
}

.no-margin {
  margin-bottom: 0px;
}

.form-control:focus {
  border: solid 2px rgba(0,123,255,.25) ;
  transition: 0,7s;
}

.page_prev {
  width: 100%;
  height: 387px;
  background-image: url("../img/phone.png");
  background-size: cover;
  padding: 55px 20px;
  font-size: 14px;
  font-weight: 500;
}
.btn-block {
  border-radius: 5px;
}
.cerca {
  display: flex;
  justify-content: flex-end;
}

/*FOOTER ------------------------------------------*/

.footer {
  background-color: $deepblue;
  min-height: $h-footer;
  color: $white;
  padding: 20px 10px 20px 10px;
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
  img {
    height: 100px
  }
}
.orario h5{
  font-weight:600;
}

/*SOVRASCRIVE BOOTSTRAP ORIGINALE -----------------------*/











