/*GENERALI----------------------------------*/
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

body {
  font-weight: 500;
  min-height: 100vh;
}

.tooltip {
  font-size: 15px;
}

.separatore20 {
  padding-top: 20px;
}

.separatore40 {
  padding-top: 40px;
}

hr {
  margin-top: 6px;
  margin-bottom: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

/*TOP BAR - LOGIN BAR------------------------------*/
.top_bar {
  background-color: #243d7d;
  height: 55px;
  padding: 13px 0 12px 0;
  font-weight: 500;
}
.top_bar a {
  padding-left: 10px;
}
.top_bar p {
  color: #fff;
  font-weight: 600;
}
.top_bar h4 {
  margin-top: -8px;
}
.top_bar h4.badge-primary {
  border: solid;
  border-width: 2px;
}

.badge-warning {
  background-color: #e1740e;
}

.fa-15x {
  font-size: 1.5em;
}

.ruolo {
  font-weight: 500;
  font-size: 14px;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 2px 5px;
}

.dropdown-menu {
  padding: 0px;
  font-size: 12px;
  margin-top: 14px;
}

.dropdown-menu::before {
  left: auto;
  right: 5px;
}

.titolino {
  font-size: 1rem;
  background-color: #f7f7f9;
  padding-left: 5px;
}

/*MENU BAR-------------------------------------------*/
.menu_icon {
  margin: auto 10px auto 0px;
}

.nav-tabs {
  min-height: 95px;
  border-bottom-width: 0;
}
.nav-link.active {
  border-width: 4px;
}

.main_menu {
  border-bottom-color: #dfe4f2;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.main_menu img {
  height: 65px;
}

/*CONTAINER HOME---------------------------------------*/
.barra_lat {
  background-color: #f7f7f9;
  padding-top: 35px;
  padding-left: 25px;
  min-height: calc(100vh - (140px + 140px + 12px));
  /*min-height: 652px;*/
}

.table_invio {
  padding-left: 15px;
  padding-top: 35px;
}
.table_invio h5 {
  background-color: #007bff;
  padding-right: 10px;
  color: white;
  font-weight: 600;
  padding: 5px;
}

h5 .green {
  background-color: green;
}

/*TABELLA -------------------------------------------*/
.table td, .table th {
  padding: 0.7em;
}

/* SEVERITA--------------------------------------------*/
.sev {
  font-weight: 800;
}

.arancio {
  color: orange;
}

.verde {
  color: green;
}

.rossa {
  color: red;
}

.td_sev, .info_sev {
  border-right: solid;
  border-width: 15px;
}
.td_sev .arancio, .info_sev .arancio {
  border-color: orange;
}
.td_sev .verde, .info_sev .verde {
  border-color: green;
}
.td_sev .rossa, .info_sev .rossa {
  border-color: red;
}

/*TEMPLATE EDITOR & CRAZIONE MSG------------------------------------------*/
.titolo_modelli {
  display: flex;
  justify-content: space-between;
}

.form-control, .filter-option {
  background-color: #f7f7f9;
}

.search {
  background-color: #fff;
}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea, .form-group textarea {
  border-radius: 10px;
}

.form-group {
  margin-bottom: 2rem;
}

.no-margin {
  margin-bottom: 0px;
}

.form-control:focus {
  border: solid 2px rgba(0, 123, 255, 0.25);
  transition: 0, 7s;
}

.page_prev {
  width: 100%;
  height: 387px;
  background-image: url("../img/phone.png");
  background-size: cover;
  padding: 55px 20px;
  font-size: 14px;
  font-weight: 500;
}

.btn-block {
  border-radius: 5px;
}

.cerca {
  display: flex;
  justify-content: flex-end;
}

.modal-lg {
  min-width: 1250px;
}

.aree_pred {
  background-color: #f7f7f9;
}

.info_gen p {
  padding-left: 5px;
}

.selezionata {
  border-right: 5px solid #007bff;
  background-color: #d9e6f4;
}

/*INVIO------------------------------------------*/
/*AMMINISTRAZIONE-------------------------------*/
.menu_amm .nav-tabs {
  background-color: transparent;
}

.info_ruolo {
  background-color: #f7f7f9;
  padding: 15px 25px 15px 25px;
  font-style: italic;
  color: #5b6f82;
  font-weight: 600;
  margin-left: 25px;
}

.bull_severita {
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.bull_arancio {
  background-color: orange;
}

.bull_verde {
  background-color: green;
}

.bull_rossa {
  background-color: red;
}

/*FOOTER ------------------------------------------*/
.footer {
  background-color: #243d7d;
  min-height: 140px;
  color: #fff;
  padding: 20px 10px 20px 10px;
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
}
.footer img {
  height: 100px;
}

.orario h5 {
  font-weight: 600;
}

/*SOVRASCRIVE BOOTSTRAP ORIGINALE -----------------------*/
.nav-tabs.nav-tabs-vertical .nav-item.show .nav-link, .nav-tabs.nav-tabs-vertical .nav-link.active {
  border-bottom: none;
  border-right: 5px solid;
  border-right-color: #06c;
}

/*# sourceMappingURL=custom.css.map */
